body{
  text-align: center;
  font-color:#40514E;
  background-color: #E4F9F5;
  margin: auto;
  font-family: 'Merriweather', seri;



}


h1{
  font-family: 'Sacramento', cursive;
  font-size:5.62rem;
  color: #66BFBF;
  margin:50px auto 0px auto;


}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight:normal;
  padding:10px;

}
h3{
  font-family:'Montserrat', sans-serif;
  color:#11999E;
}


.top-container{
  background-color:#C8E3D4;
  position: relative;
  padding-top:100px;

  margin: auto auto 37px auto;



}
.profile{
  margin-bottom:50px;
}
.intro{
  width:30%;
  margin: auto;
  line-height: 2;
}
.skills{
  margin-top: 50px;
  margin-bottom: 50px;

}
.bottom-container{
  background-color:#66BFBF;
  padding-bottom:20px;
  padding-top:30px;
  justify-content:space-between;
  line-height: 2;


}
.top-cloud{
  position: absolute;
  top:35px;
  right:240px;




}
.bottom-cloud{
  position:absolute;
  left: 300px;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height:2;

}

.code-image{
  width:25%;
  height:50%;
  float: left;
  margin-right:30px;

}
.giphy-image{
  width:25%;
  height:50%;
  float:right;
  margin-top: 23px;
  margin-right:40px;

}
.contact-me{

  bottom:30px;
  margin-top:50px;
  margin-bottom:60px;
}
hr{
  border:dotted #66BFBF 6px;
  border-bottom: none;
  width:4%;
  margin:100px auto 100px auto;

}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom:50px;
  margin-top:50px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.gap{
  padding-bottom: 30px;
}
.footer-link{
  justify-content:space-between;
  color:#11999E;
  padding:20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}
a:hover{
  color:#EAF6F6;
}
.copyright{
  color: #EAF6F6;
  margin-top:30px;
  margin-bottom: auto;
  font-size: 0.72rem;

}
